/* div containing whole calculator and contents */
#mydiv {
    position: absolute !important;
    z-index: 9;
    width: 300px;
    background-color: transparent;
    border: 3px solid black;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px black;
    overflow-y: hidden;
    overflow-x: hidden;
    backdrop-filter: blur(10px);
  }

/* Background image for page */
.background{
    width: 100%;
    height: 100%;
    background: url(background.jpg) !important;
}
 
  
/* header div for dragging and dropping*/
#mydivheader {
    padding: 10px;
    padding-bottom: 0px;
    cursor: move;
    z-index: 10;
    background-color: transparent;
}

/* Output bar at the top of the calculator */
.inputOutput{
    margin: 10px;
    margin-top: 0px;
    border-radius: 15px;
    height: 80px;
    background-color: transparent;
    border: 2px solid black; 
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

#result{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: transparent;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
}


/* Row configuration for button layout */ 
.row{
    display: flex;
    height: 80px;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}

/* Button styles to make grid pattern */ 
button{
    width: 25%;
    color: black;
    background-color: transparent;
    border-color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    height: 80px;
}
/*  hover effect of buttons */
button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* specific styles for rounding bottom right button to match outer border */
#tangent{
    border-bottom-right-radius: 22px;
}

/* specific styles for rounding bottom left button to match outer border */
#zero{
    border-bottom-left-radius: 22px;
}


