#mydiv {
    position: absolute !important;
    z-index: 9;
    width: 300px;
    background-color: rgba(13, 53, 87, 0.2);
    border: 3px solid rgba(13, 53, 87 , 0.25);
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 0px 20px black;
    overflow-y: hidden;
    overflow-x: hidden;
  }



  

  #mydivheader {
    padding: 10px;
    padding-bottom: 0px;
    cursor: move;
    z-index: 10;
    background-color: transparent;
  }


  .inputOutput{
    margin: 10px;
    border-radius: 10px;
    height: 80px;
    background-color:rgba(13, 53, 87, 0.1);
    border: 2px solid rgba(13, 53, 87, .2); 
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }




  .row{
    display: flex;
    height: 80px;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
  }


  button{
    width: 25%;
    color: rgba(13, 53, 87, 0.4);
    background-color:rgba(13, 53, 87, 0.1);
    border-color: rgba(13, 53, 87, 0.2);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    height: 80px;
  }

  button:hover{
    background-color: rgba(13, 53, 87, 0.2);
}


#bottomRight{
    border-bottom-right-radius: 20px;
}

#bottomLeft{
    border-bottom-left-radius: 20px;
}


